
* {
   text-align: justify; 
}

.cabecalho{
    text-align: center;
    font-size: 0.8em;
} 

.titulo{ 
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5em;
}

.subtitulo{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.3em;
    
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-size: normal;
    text-align:justify;

}

.importante {
    color: green;
    text-align: center;
    font-size: 20px;
}

.desafio {
    background-color: rgb(175, 157, 157);
    text-align: center;
}

